body
{
    margin : 0px;
    padding : 0px;
    overflow : hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}
div{
    position: relative;
    z-index: 1;
}
h1
{
    margin : 0px;
    padding : 0px;
    font-size : 9em;
    color : black;
    filter : blur(2px);

}
p
{
    text-align: center;
    margin-top : 5px;
    padding : 5px;
    font-size : 3em;
    filter: blur(1px);
}
ul
{
    position: absolute;
    bottom: 0;
    left : 50%;
    transform: translateX(-50%);
}
ul li
{
    position: absolute;
    top : 0;
    left : 0;
    display: block;
    list-style : none;
    background : #000;
    width : 40px;
    height : 40px;
    border-radius: 50%;
    filter : blur(5px);
}
ul li:nth-child(odd)
{
    animation: animationOdd 6s linear infinite;
}
@keyframes animationOdd {
    0%{
        transform: translate(0,0) scale(1);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(300px,-600px) scale(12);
        opacity: 0;
    }
}
ul li:nth-child(even)
{
    animation: animationEven 6s linear infinite;
}
@keyframes animationEven {
    0%{
        transform: translate(0,0) scale(1);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(-300px,-600px) scale(12);
        opacity: 0;
    }
}
ul li:nth-child(1)
{
    animation-delay: 0s;
    background : #ff0000;
}
ul li:nth-child(2)
{
    animation-delay: 1s;
    background : #0000ff;
}
ul li:nth-child(3)
{
    animation-delay: 2s;
    background : #ff00ff;
}
ul li:nth-child(4)
{
    animation-delay: 3s;
    background : #00ffff;
}
ul li:nth-child(5)
{
    animation-delay: 4s;
    background : #00ff00;
}
ul li:nth-child(6)
{
    animation-delay: 5s;
    background : #ffff00;
}